.body{
    background-color: rgb(245, 241, 241);
font-family: 'Merriweather', serif;
}
.brand-img{
    width:250px;
}
.navbar{
    /* background-color:white; */
    box-shadow:rgb(184, 182, 182) 0 2px 7px;
}
.nav-link{
    text-decoration: red underline;
    color:black;
    padding:15px;

}

.slogan-text-container{
    text-align:center;
    margin-top:20px;
    padding:200px 0 120px;
    /* background-color: rgb(31, 168, 93); */
    /* color:white; */
   
}
.slogan-text{
font-weight: bolder;
font-family: 'Merriweather', serif;

   
    font-size: 3.0rem;
}

.horizontal-rule{
    border-style: none;
   border-bottom:10px  dotted red;
   
   margin:auto;
    width:10%;
}
.green-text{
    color:rgb(31, 168, 93);
}
.red-text{
    color:rgb(247, 65, 65);
}


.obidient-img{

height:400px;
width:100%;
}

.custom-row{
    margin:20px 100px;
}
.cl-cap-img{
    width:25%;
    /* margin:50px auto 0; */
}

.heading-two{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-section{
    margin-top:90px;
    padding:0 100px 0;
    text-align:center;
    width:100%;
}

.custom-card{
    margin:20px 0;
    height:250px;
    box-shadow: rgb(184, 182, 182) 0 2px 7px;
}
@media screen and (max-width:500px) {
    .custom-row{
        margin:30px;
    }
}

 .clsg-flag {
     text-align: right;
     background-color: rgb(31, 168, 93);
     border-top-left-radius: 50px;
     border-bottom-left-radius: 50px;
     width: 120px;
     color: white;
     font-size: 30px;
     padding-right: 5px;
    font-family: 'Merriweather', serif;
 }
 /* .clsg-flag:hover{
    width:120px;
 } */



 /* small devices */

 @media screen and (max-width:800px) {
     .slogan-text {
         font-size: 2.5rem
     }

         .cl-cap-img {
             width: 35%;
    
         }

 }

 @media screen and (max-width:500px) {
     .slogan-text {
         font-size: 2.0rem
     }
         .cl-cap-img {
             width: 45%;
    
         }
         .brand-img{
            width:180px;
         }

 }


 /* gallery page */

 .gallery-conatainer-upload{
    height:100px;
    background-color:blueviolet;
 }